---
import Layout from "../layout/Layout.astro";
Astro.redirect("/")
---

<Layout
        title="404 - Tutorlion"
        description="Providing quality tutoring services at low prices!"
>
    <div class="flex flex-col text-center items-center justify-center pt-20 md:pt-40">
        <h1 class="text-brown text-5xl font-semibold">404. Can't find what you're looking for.</h1> <br/>
        <a class="bg-brown p-3 font-semibold hover:bg-orange-500 text-white rounded-md text-2xl" href="/">Go
            Home?</a>
    </div>
s</Layout>