---
import Layout from "../layout/Layout.astro";

import {forms} from "../resources/forms.json";
---


<Layout
        title="Contact"
        description="At TutorLion we want to make it easy for you to get in touch with us, fill out our form today!"
>
    <div class="flex flex-col justify-center items-center text-center p-6">
        <h1 class="text-6xl text-brown font-poppins font-extrabold m-10">Register with us today!</h1>
        <div class="flex flex-col w-full h-screen m-8 text-center">
            <div id="loading-panel" class="">
                <h3 class="text-brown font-semibold text-4xl">Loading<span id="dots"></span></h3>
            </div>
            <iframe id="contact-form" class="flex-1 hidden relative" src={forms.student}/>
        </div>
    </div>
</Layout>

<script>
    const iframe = document.getElementById("contact-form");
    const loading = document.getElementById("loading-panel");
    const dotsEl = document.getElementById("dots");

    let dots = 0;

    setInterval(() => {
        if (dots > 2) {
            dots = 0;
        } else {
            dots++;
        }


        let dotString = "";
        for (let i = 0; i < dots; i++) {
            dotString += ".";
        }

        dotsEl.textContent = dotString;
    }, 250)

    iframe.addEventListener("load", () => {
        loading.classList.add("hidden");
        iframe.classList.remove("hidden");
    });
</script>