---
import writingImg from "../assets/writing.jpg";
import Layout from "../layout/Layout.astro";
import TestimonialSlider from "../components/Slider";
import Counter from "../components/Counter.jsx";
---

<Layout>
    <div style={`background-image: url('${writingImg.src}')`}
         class="flex items-center flex-wrap md:flex-nowrap bg-fixed h-[600px]">
        <div class="m-4 md:m-12">
            <h1 class="text-7xl text-orange-500 font-poppins font-extrabold">TutorLion</h1>
            <p class="w-full md:w-[80%] text-xl text-white mt-4 p-2 bg-gray-200 bg-opacity-30 rounded-sm">
                At TutorLion, we are committed to providing exceptional academic support
                to middle and elementary school students across the country. Our dedicated team
                of knowledgeable tutors can provide guidance to your child in whatever subject
                they need assistance in. <a class="text-blue-500 p-0.5 rounded-full hover:underline" href="/contact">Book
                yours today!</a>
            </p>
        </div>

        <div class="flex flex-col bg-white z-10 w-full md:w-[80%] p-8 md:mr-20">
            <h2 class="text-5xl text-orange-500 text-center font-extrabold font-poppins">Find a tutor today!</h2>
            <div class="flex text-center items-center justify-center text-3xl mt-14 space-x-3.5">
                <a class="flex-1 bg-yellow-400 hover:bg-amber-500 duration-100 p-2 font-poppins rounded-full font-extrabold"
                   href="/tutors">
                    Tutors
                </a>
                <a class="flex-1 bg-yellow-400 hover:bg-amber-500 duration-100 p-2 font-poppins rounded-full font-extrabold"
                   href="/contact">
                    Contact
                </a>
            </div>
        </div>
    </div>
    <div class="p-12 mt-24 md:mt-0">
        <h2 class="text-5xl md:text-6xl mb-6 text-center font-poppins font-extrabold">
            Testimonials
        </h2>
        <div class="md:p-10">
            <TestimonialSlider client:only="react"/>
        </div>
    </div>
    <div class="p-14 text-center bg-stone-100">
        <h2 class="text-5xl md:text-6xl m-10 text-center font-poppins font-extrabold">Our success</h2>
        <div class="flex flex-col md:flex-row items-center justify-center divide-y-4 md:divide-y-0 md:divide-x-4 divide-orange-500 hover:divide-amber-500">
            <p class="flex-1 text-3xl p-10">
                <span class="font-poppins text-7xl"><Counter client:visible number="75"/>+</span> <br/>
                tutors in the Charlotte area
            </p>
            <p class="flex-1 text-3xl p-10">
                <span class="font-poppins text-7xl"><Counter client:visible number="50"/>+</span> <br/>
                loyal customers
            </p>
            <p class="flex-1 text-3xl p-10">
                <span class="font-poppins text-7xl"><Counter client:visible number="30"/>+</span> <br/>
                subjects taught
            </p>
        </div>
    </div>
    <div class="p-12 bg-blue-50">
        <h2 class="text-5xl md:text-6xl mb-12 text-center font-poppins font-extrabold">What we offer</h2>
        <div class="grid grid-rows-3 md:grid-rows-none md:grid-cols-3 gap-3.5 items-stretch">
            <div class="col-span-1 flex flex-col justify-between bg-white shadow-2xl shadow-gray-500">
                <div class="grid">
                    <div class="h-20 wave bg-slate-400 layer"></div>
                    <div class="h-20 wave bg-gray-400 opacity-60 translate-y-5 translate-x-0 layer"></div>
                </div>
                <h3 class="text-3xl text-center font-poppins font-extrabold">In-person and <br/> Online tutoring</h3>
                <ul class="text-2xl p-8 list-inside list-image-[url('check.svg')]">
                    <li>Math</li>
                    <li>Science</li>
                    <li>Computer Science</li>
                    <li>English</li>
                    <li>Spanish</li>
                    <li>Arts</li>
                    <li class="list-image-none">... and more!</li>
                </ul>
                <br/>
                <div class="grid rotate-180">
                    <div class="h-20 wave bg-slate-400 layer"></div>
                    <div class="h-20 wave bg-gray-400 opacity-60 translate-y-5 layer"></div>
                </div>
            </div>
            <div class="col-span-1 flex flex-col justify-between bg-white shadow-2xl shadow-orange-700">
                <div class="grid">
                    <div class="h-20 wave bg-orange-400 layer"></div>
                    <div class="h-20 wave bg-amber-400 opacity-60 translate-y-5 layer"></div>
                </div>
                <h3 class="text-3xl text-center font-poppins font-extrabold">SAT/ACT tutoring</h3>
                <ul class="text-2xl p-8 list-inside list-image-[url('check.svg')]">
                    <li>Reading</li>
                    <li>Writing</li>
                    <li>Math 1</li>
                    <li>Math 2</li>
                    <li>Math 3</li>
                    <li>Precalculus</li>
                    <li class="list-image-none">... and more!</li>
                </ul>
                <div class="grid rotate-180 bottom-0">
                    <div class="h-20 wave bg-orange-400 layer"></div>
                    <div class="h-20 wave bg-amber-400 opacity-60 translate-y-5 layer"></div>
                </div>
            </div>
            <div class="col-span-1 flex flex-col justify-between bg-white shadow-2xl shadow-blue-700">
                <div class="grid">
                    <div class="h-20 wave bg-blue-400 layer"></div>
                    <div class="h-20 wave bg-cyan-400 opacity-60 translate-y-5 layer"></div>
                </div>
                <h3 class="text-3xl text-center font-poppins font-extrabold ">Per-class payment</h3>
                <ul class="text-2xl p-8 list-inside list-image-[url('check.svg')]">
                    <li>Pay only when you need it</li>
                    <li>Pricing available</li>
                </ul>
                <div class="grid rotate-180">
                    <div class="h-20 wave bg-blue-400 layer"></div>
                    <div class="h-20 wave bg-cyan-400 opacity-60 translate-y-5 layer"></div>
                </div>
            </div>
        </div>
        <div class="grid items-center justify-center p-20">
            <h2 class="text-5xl mb-12 text-center font-poppins font-extrabold">Join us!</h2>
            <a class="bg-orange-400 hover:bg-orange-500 text-center text-white hover:text-black text-3xl duration-300 p-4 rounded-md font-poppins" href="/contact">Register</a>
        </div>
    </div>
</Layout>


<style>
    .wave {
        clip-path: polygon(100% 0%, 0% 0%, 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
    }

    .layer {
        grid-column: 1;
        grid-row: 1;
    }
</style>