---

import bannerImg from "../assets/Waverly.jpeg";
import Layout from "../layout/Layout.astro";
import TestimonialSlider from "../components/slider/Slider";
import Counter from "../components/Counter.jsx"; //
---

<Layout>
    <div style={`background-image: url('${bannerImg.src}');`}
            class="flex justify-center items-center bg-fixed bg-contain bg-no-repeat bg-[center_top_88px] h-[280px] md:bg-cover md:h-[750px]">
        <div class="text-center z-10">
            <h1 class="p-3 rounded-lg text-6xl md:text-8xl text-white drop-shadow-2xl font-poppins font-extrabold">
                TutorLion</h1>
            <p class="w-full md:w-full text-xl md:text-2xl text-white mt-4 p-2 font-montserrat rounded-sm">
                For students, by students
            </p>
            <div class="m-10 grid grid-cols-2 gap-3.5">
                <a href="/tutors"
                   class="pl-6 pr-6 pt-2 pb-2 rounded-full text-xl md:text-3xl bg-amber-400 hover:bg-yellow-300 flex items-center justify-center font-bold">Tutors</a>
                <a href="/contact"
                   class="pl-6 pr-6 pt-2 pb-2 rounded-full text-xl md:text-3xl bg-amber-400 hover:bg-yellow-300 flex items-center justify-center font-bold">Contact</a>
            </div>
        </div>
    </div>
    <div class="p-14 text-center">
        <h2 class="text-5xl md:text-6xl mb-10 text-center font-poppins font-extrabold">Our Success</h2>
        <div class="flex flex-col md:flex-row items-center justify-center divide-y-4 md:divide-y-0 md:divide-x-4 divide-orange-500 hover:divide-brown">
            <p class="flex-1 text-xl lg:text-3xl p-10">
                <span class="font-poppins text-7xl"><Counter client:visible number="115"/>+</span> <br/>
                tutors in the Charlotte area
            </p>
            <p class="flex-1 text-xl lg:text-3xl p-10">
                <span class="font-poppins text-7xl"><Counter client:visible number="75"/>+</span> <br/>
                loyal customers
            </p>
            <p class="flex-1 text-xl lg:text-3xl p-10">
                <span class="font-poppins text-7xl"><Counter client:visible number="30"/>+</span> <br/>
                subjects taught
            </p>
        </div>
    </div>
    <div class="flex flex-col text-center items-center justify-center p-12">
        <h2 class="text-5xl md:text-6xl mb-12 font-poppins font-extrabold">What we offer</h2>
        <div class="grid grid-rows-1 md:grid-rows-2 grid-cols-1 md:grid-cols-2 gap-3.5">
            <div class="p-8 ">
                <h3 class="text-3xl font-semibold">1-On-1 Adaptive Tutoring</h3>
                <p class="text-xl mt-4 text-center md:text-justify max-w-3xl">
                    Whether your student has a test coming up, or a presentation to practice,
                    our <span class="whitespace-nowrap">flexible tutors</span> do it all.
                    <a class="text-blue-400 hover:underline" href="/contact">Signup</a> today to try it out!
                </p>
            </div>
            <div class="p-8 flex flex-col items-center">
                <h3 class="text-3xl font-semibold">Experienced Student Tutors</h3>
                <p class="text-xl mt-4 text-center md:text-justify max-w-3xl">
                    Who could be better than a student who has experienced the same school, class, curriculum, and teacher
                    as your child to tutor them? Apply to be a tutor
                    <a class="text-blue-400 hover:underline" href="/tutors">here.</a>
                </p>
            </div>
                <div class="p-8 flex flex-col items-center">
                    <h3 class="text-3xl font-semibold">All Grades K-12</h3>
                    <p class="text-xl mt-4 text-center md:text-justify max-w-3xl">
                        
                        <span style={{fontWeight: "bold"}}> 1st grader?</span> A tutor great with kids can teach them basic concepts, handwriting, reading comprehension, etc.
                        </br><span style={{fontWeight: "bold"}}> 7th grader?</span> A local highschool student can help them with classes, as well as get them ahead in subjects like math, while preparing and giving them advice for highschool.
                        </br> <span style={{fontWeight: "bold"}}> 11th grader?</span> An experienced college student can help them with AP classes, SAT/ACT preparation, and college applications.
                    </p>
                </div>
            <div class="p-8 flex flex-col items-center">
                <h3 class="text-3xl font-semibold">In-Person and Online</h3>
                <p class="text-xl mt-4 text-center md:text-justify max-w-3xl">
                    At TutorLion, we're all about convenience. A tutor can come to your house or a nearby library, coffee shop, etc without any additional cost.
                </p>
            </div>
        </div>
    </div>
    <div class="p-4 md:p-12 mt-24 md:mt-0">
        <h2 class="text-4xl md:text-6xl mb-6 text-center font-poppins font-extrabold">
            Testimonials
        </h2>
        <TestimonialSlider client:only="react"/>
    </div>
    <div class="grid items-center justify-center p-20">
        <h2 class="text-5xl md:text-6xl mb-12 text-center font-poppins font-extrabold">Join us!</h2>
        <a class="p-4 group rounded-md duration-500 text-white text-center text-2xl font-semibold border-2 hover:border-black hover:to-white hover:from-white hover:-translate-y-1 bg-gradient-to-b from-orange-400 to-brown"
           href="/contact">
            <span class="group-hover:text-brown md:delay-0">R</span>
            <span class="group-hover:text-brown md:delay-[20ms]">e</span>
            <span class="group-hover:text-brown md:delay-[40ms]">g</span>
            <span class="group-hover:text-brown md:delay-[60ms]">i</span>
            <span class="group-hover:text-brown md:delay-[80ms]">s</span>
            <span class="group-hover:text-brown md:delay-[100ms]">t</span>
            <span class="group-hover:text-brown md:delay-[120ms]">e</span>
            <span class="group-hover:text-brown md:delay-[140ms]">r </span>
            <span class="group-hover:text-brown md:delay-[160ms]">n</span>
            <span class="group-hover:text-brown md:delay-[180ms]">o</span>
            <span class="group-hover:text-brown md:delay-[200ms]">w</span>
        </a>
    </div>
</Layout>


<style>
    .wave {
        clip-path: polygon(100% 0%, 0% 0%, 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
    }

    .layer {
        grid-column: 1;
        grid-row: 1;
    }
</style>