---
import {GoogleFontsOptimizer as Fonts} from "astro-google-fonts-optimizer";
import Layout from "../layout/Layout.astro";
import {tutors} from "../components/people/tutors";
import Tutor from "../components/Tutor.astro";

const images = Object.keys(await import.meta.glob("/public/people/*"));

const tutorList = tutors.map(tutor => {
    const fileName = tutor.name.toLowerCase().split(" ").join("-");
    const imageName = images.find(i => i.includes(fileName));
    tutor.image = imageName?.slice(7, imageName.length);
    return tutor;
})
---


<Layout>
    <head slot="name">
        <Fonts url="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"/>
    </head>
    <div class="text-center p-4 md:p-12">
        <h1 class="text-6xl text-orange-500 font-poppins font-extrabold">Our tutors</h1>
        <p class="p-10">
            Meet the Tutor Lions: a group of dedicated, knowledgeable professionals who are committed to helping
            students succeed.
            With a wide range of expertise and a passion for education, our tutors are ready to support learners of all
            ages and
            abilities.
        </p>
        <a class="rounded-md bg-orange-600 hover:bg-amber-300 text-white p-3" href="#">Become a tutor</a>
    </div>
    <div class="m-10">
        {
            tutorList.map(tutor =>
                    <Tutor tutor={tutor}/>
            )
        }
    </div>
</Layout>

<script>
    const bioObserver = new IntersectionObserver((entries) => {
        const smallScreen = window.matchMedia("(max-width: 768px)").matches;

        entries.forEach(entry => {
            const classes = "grayscale-0 md:-translate-x-5".split(" ")

            entry.isIntersecting ?
                entry.target.classList.add(...classes) : entry.target.classList.remove(...classes);

            if (smallScreen) {
                const clickMore = entry.target.querySelector("#description");

                entry.isIntersecting ? clickMore.classList.remove("hidden") : clickMore.classList.add("hidden");
            }
        });
    }, {rootMargin: "-50% 0% -50% 0%", threshold: 0});

    document.querySelectorAll("[id^='bio']").forEach(v => bioObserver.observe(v));
</script>