---
import Layout from "../layout/Layout.astro";
import {tutors} from "../resources/tutors.json";
import Tutor from "../components/Tutor.astro";

import {forms} from "../resources/forms.json";

const images = Object.keys(await import.meta.glob("/public/people/*"));

const tutorList = tutors.map(tutor => {
    const fileName = tutor.name.toLowerCase().split(" ").join("-");
    const imageName = images.find(i => i.includes(fileName));
    tutor.image = imageName?.slice(7, imageName.length) ?? "/people/placeholder.webp";
    return tutor;
})
---


<Layout
        title="Our Tutors"
        description="Meet the Tutor Lions: a group of dedicated, knowledgeable professionals who are committed to helping students succeed."
>
    <div class="text-center p-4 md:p-12">
        <h1 class="text-6xl text-orange-500 font-poppins font-extrabold mt-8">Our Tutors</h1>
        <div class="p-10">
            <p class="md:pl-48 md:pr-48">
                Meet the Tutor Lions: a group of dedicated, knowledgeable professionals who are committed to helping
                students succeed.
                With a wide range of expertise and a passion for education, our tutors are ready to support learners of
                all
                ages and
                abilities.
            </p>
        </div>
        <a target="_blank" class="rounded-md bg-orange-600 hover:bg-amber-300 text-white p-3" href={forms.teacher}>Become
            a tutor</a>
    </div>
    <div>
        {
            tutorList.map(tutor =>
                    <Tutor {...tutor}/>
            )
        }
    </div>
</Layout>

<script>
    const bioObserver = new IntersectionObserver((entries) => {
        const smallScreen = window.matchMedia("(max-width: 768px)").matches;

        entries.forEach(entry => {
            const classes = "grayscale-0 md:-translate-y-5".split(" ")

            entry.isIntersecting ?
                entry.target.classList.add(...classes) : entry.target.classList.remove(...classes);

            if (smallScreen) {
                const clickMore = entry.target.querySelector("#description");

                entry.isIntersecting ? clickMore.classList.remove("hidden") : clickMore.classList.add("hidden");
            }
        });
    }, {rootMargin: "-50% 0% -50% 0%", threshold: 0});

    document.querySelectorAll("#bio").forEach(v => bioObserver.observe(v));
</script>