---
import {TestimonialSlider} from "./Slider.jsx";
import {Image} from "@astrojs/image/components";
---

<div class="h-full w-full cursor-ew-resize space-x-3.5">
    <TestimonialSlider client:load/>
</div>